* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    background-color: black;
}

.header {
    padding: 2rem;
    margin: 1rem 0px;
    text-align: center;
}

.tribute {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 78rem;
    margin: 0px auto;
    background: #fff;
    color: black;
    align-items: center;
    padding: 0px 0px 0px 1rem;
}
.tribute blockquote{
    text-align: center;
    font-size: 3rem;
}
.tribute img {
    max-width: 100%;
    height: 100px;
}

.bio {
    margin: 2rem auto;
    padding: 0px 0.5rem;
    max-width: 60rem;
}
.bio h2{
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 1.2;
}
.bio p {
    font-size: 1.2rem;
    line-height: 1.6;
}
.bio a {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 1.8rem;
    background: #fff;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #fff;
    font-size: 1.6rem;
    color: black;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.bio a:hover {
    box-shadow: none;
}
.bio hr {
    margin-top: 2rem;
}
footer .credit{
    text-align: center;
    padding: 3rem 2rem;
}
